* {
    font-family: 'Raleway', sans serif;
}

body
{
    min-width: 992px;
    max-width: 1400px;
    margin: 0;
}

/*header*/

#logo {
    width: 61.09px;
    height: 19px;
    left: 0px;
    bottom: 6px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin-left: 4%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 30%;
    height: 134px;
    margin: 0;
}

.menu_bouton {
    position: relative;
    bottom: 6px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    width: 45%;
    height: 120px;
}

.menu_bouton:hover {
    border-top: 2px solid #0065FC;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #0065FC;
}

/*header*/

/*main*/

#titre_page {
    width: 92%;
    margin-left: 4%;
}

h1 {
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

/*recherche*/

#recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    margin:2% 0 2% 4%;
}

.barre_recherche {
    display: flex;
    width: 56%;
    height: 17%;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 3%;
    height: 48px;
    padding: 0 2% 0 2%;
}

.localisation {
    border: 1px solid #F2F2F2;
    height: 48px;
    padding:0 12% 0 2%;
    position: relative;
    top: 2%;
}

.loupe {
    display: none;
}

button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    width: 20%;
    height: 49px;
    position: relative;
    top: 4%;
}

input::placeholder{
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/*Recherche*/

/*Filtres*/

#filtres {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: 4%;
}

.filtres_bouton {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#eco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

#famille {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

#romantique {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

#animaux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    height: 80%;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

#eco:hover {
    background-color: #deebff;
}

#famille:hover {
    background-color: #deebff;
}

#romantique:hover {
    background-color: #deebff;
}

#animaux:hover {
    background-color: #deebff;
}

.money {
    color:#0065FC;
    padding-right: 2%;
    width: 10%;
    height: 16px;
}

.person {
    color:#0065FC;
    padding-right: 2%; 
    width: 10%;
    height: 22px;
}

.heart {
    color:#0065FC;
    padding-right: 2%;
    width: 10%;
    height: 18px;
}

.dog {
    color:#0065FC;
    padding-right: 2%;
    width: 10%;
    height: 22px;
}

/*Filtres*/

/*Infobar*/

#infobar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    margin: 2% 0 2% 4%;
}

#infobar p {
    margin: 0;
}

.vector {
    border: 2px solid #F2F2F2;
    border-radius: 60px;
    color: #0065FC;
    padding: 1% 1.25% 1% 1.25%;
    margin-right: 1% ;
}

/*Infobar*/

/*Hébergements et Les plus populaires*/

#hébergements_populaires {
    display: flex;
    justify-content: flex-start;
    width: 92%;
    height: 626px;
    margin-left: 4%;
}

/*Hébergements et Les plus populaires*/

/*Hébergements*/

#hébergements {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: 100%;
    margin-right: 3%;
    padding: 0;
}

#logements {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

/*Spécification du titre principal des hébergements*/

.titre_hébergements h2{
    margin: 4% 0 3% 4%;
}

/*Boîtes des liens des cards*/

.lien_hébergements1 {
    display: flex;
    justify-content: flex-start;
    box-sizing: content-box;
    width: 28%;
    height: 46%;
    margin: 0 3% 0 4%;
    padding: 0;
}

.lien_hébergements2 {
    display: flex;
    justify-content: flex-start;
    box-sizing: content-box;
    width: 28%;
    height: 46%;
    margin-right: 3%;
    padding: 0;
}

.lien_hébergements3 {
    display: flex;
    justify-content: flex-start;
    box-sizing: content-box;
    width: 28.2%;
    height: 46%;
    margin: 0;
    padding: 0;
}

/*Les cards hébergements*/

.card_hébergements1 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
}
.card_hébergements2 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
    
}
.card_hébergements3 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
}

.card_hébergements4 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
}

.card_hébergements5 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
}

.card_hébergements6 {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 20px;
}

/* Photo des cards hébergements*/

.photo {
    object-fit: cover;
    width: 96%;
    height: 60%;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

/*Spécification des descriptions des cards hébergements*/

.description_hébergements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 83%;
    margin-left: 8%;
}

/*Spécification de la boîte du titre et prix des cards hébergements*/

.nom_prix {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 43px;
    padding-bottom: 1%;
}

.nom_hébergements {
    width: 100%;
    height: 20px;
}

.nom_hébergements h3 {
    height: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.prix_hébergements p {
    font-size: 14px;
    line-height: 10px;
    margin: 0;
    padding: 0;
}

/*Spécification des notes*/

.note {
    display: flex;
}

.star {
    font-size: 12px;
    padding-right: 2px;
    color:#0065FC;
}

.neutral_star {
    font-size: 12px;
    padding-right: 2px;
    color: #F2F2F2;
}

.plus p {
    margin: 0;
}

.plus {
    margin: 3% 0 0 5%
}

/*Hébergements*/

/*Les plus populaires*/

#populaires {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 35%;
    height: 100%;
}

.top_pluspopulaires {
    width: 100%;
    height: 82%;
}
/*Titre principal de la section "populaires"*/

.titre_populaires {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 29px;
    margin: 10% 0 8% 8%;
}

.titre_populaires h2 {
    width: 75%;
    margin: 0;
}

.chart {
    color: #0065FC;
    padding-left: 8%;
    height: 15px;
}

/* Spécifications cards populaires*/

.card_populaires {
    background-color: white;
    display: flex;
    width: 81.75%;
    height: 144px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 0 0 3% 8%;
}

/* Spécifications des photos des cards populaires*/

.photo1 {
    object-fit: cover;
    width: 37%;
    border: 5px solid white; 
    border-radius: 20px 0 0 20px;
}

.photo2 {
    object-fit: cover;
    width: 51%;
    height: 93%;
    border: 5px solid white; 
    border-radius: 20px 0 0 20px;
}

.photo3 {
    object-fit: cover;
    width: 37%;
    height: 93%;
    border: 5px solid white; 
    border-radius: 20px 0 0 20px;
}

/* Spécifications de la description des cards populaires*/

.description_populaires1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.description_populaires2 {
    display: flex;
    flex-direction: column;
    width: 81.5%;
}

.description_populaires3 {
    display: flex;
    flex-direction: column;
    width: 60%;
}
/*Spécifications des titres des cards populaires*/

.nom_populaires1 {
    width: 91%;
}

.nom_populaires2 {
    width: 91%;
}

.nom_populaires3 {
    width: 91%;
}

.nom_populaires1 h3 {
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.nom_populaires2 h3 {
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.nom_populaires3 h3 {
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

/*Spécifications de la boîte du titre et du prix des cards populaires*/

.nom_prixpopulaires1 {
    width: 90%;
    padding: 4% 0 5% 3%;
}

.nom_prixpopulaires2 {
    width: 95%;
    margin-left: 3%;
    padding: 4% 0 5% 0;
}

.nom_prixpopulaires3 {
    width: 100%;
    height: 50%;
    padding: 4% 0 5% 3%;
}

.nom_prixpopulaires1 p {
    margin: 0;
    margin-top: 2%;
}

.nom_prixpopulaires2 p {
    margin: 0;
    margin-top: 2%;
}

.nom_prixpopulaires3 p {
    margin: 0;
    margin-top: 2%;
}

/*Spécification des notes des cards populaires*/

.note_populaires1 {
    display: flex;
    padding: 17% 0 0 3%;
}

.note_populaires2 {
    display: flex;
    padding: 17% 0 0 3%;
}

.note_populaires3{
    display: flex;
    padding: 25% 0 8% 3%;
}

/*Les plus populaires*/

/*Activités*/

.activités {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 92%;
    height: 580px;
    margin: 3% 0 0 4%;
}

.activités_ville {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 76.7%;
}

/*Caractéristiques des liens*/

.lien_activités {
    display: block;
    justify-content: flex-start;
    width: 23.8%;
    height: 100%;
    margin-right: 2.8%;
}

.lien_activités4 {
    display: block;
    justify-content: flex-start;
    width: 23.8%;
    height: 100%;
}

/*Caractéristiques des cards*/

.card_activités {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 98.25%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px; 
}

/*Photos activités*/

.photo_activités {
    object-fit: cover;
    width:  100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
}

/*Lieux des activités*/

.lieu_activités1 {
    margin-left: 19px;
}

.lieu_activités2 {
    margin-left: 19px;
}

.lieu_activités3 {
    margin-left: 19px;
}

.lieu_activités4 {
    margin-left: 19px;
}


/*Activités*/

/*Main*/

/*Footer*/

footer {
    background-color: #F2F2F2;
    width: 92%;
    height: 225px;
    margin: 3% 8% 0 4%;
}

footer ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer li {
    display: flex;
    width: 100%;
    height: 31px;
}

.navigation_footer {
    display: flex;
    justify-content: space-between;
    width: 92%;
    height: 100%;
    margin-right: 10%;
}

.a_propos {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 5% 0 7%;
    padding-top: 2%;
}

.nos_hébergements {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 7%;
    padding-top: 2%;
}

.assistance {
    display: flex;
    flex-direction: column;
    width: 17%;
    padding-top: 2%;
    margin-right: 9%;
}
/*Footer*/

/*media queries*/

@media screen and (min-width: 768px) and (max-width: 992px) {

/*Header*/

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;
        margin-left: 5%;
    }

    .menu {
        justify-content: space-between;
        width: 38%;
    }

    .menu_bouton:hover {
        border: none;
    }

    a:hover {
        color: black;
    }
    
/*Titre de la page*/

    #titre_page {
        width: 82%;
        margin-left: 5%;
    }

/*Barre de recherche*/

    #recherche {
        display: flex;
        align-items: center;
        width: 82%;
        margin-left: 5%;
    }

    .marker {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0 0 15px;
        width: 8%;
        height: 16px;
        padding: 3.5% 1% 3.5% 1%;
    }

    .loupe {
        display: none;
    }

    button {
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0 15px 15px 0;
        color: white;
        font-size: 18px;
        font-weight: 700;
        width: 35%;
        height: 50px;
        position: relative;
        top: 4%;
    }

/*Filtres*/

    #filtres {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 3% 10% 3% 5%;
    }

    .titre_filtres {
        margin-right: 3%;
    }

    .filtres_bouton {
        display: flex;
        align-items: center;
    }

    #eco:hover {
        background-color: white;
    }
    
    #famille:hover {
        background-color: white;
    }
    
    #romantique:hover {
        background-color: white;
    }
    
    #animaux:hover {
        background-color: white;
    }
    
    .money {
        padding:0 8% 0 2%;
        width: 10%;
        height: 16px;
    }
    
    .person {
        padding: 0 8% 0 2%; 
        width: 10%;
        height: 22px;
    }
    
    .heart {
        padding: 0 7% 0 4%;
        width: 10%;
        height: 18px;
    }
    
    .dog {
        padding: 0 3% 0 2%;
        width: 10%;
        height: 22px;
    }

/*Infobar*/

    #infobar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 0;
        margin: 0 0 5% 3%;
    }

    .vector {
        border: 2px solid #F2F2F2;
        border-radius: 60px;
        color: #0065FC;
        padding: 1% 1.75% 1.25% 1.75%;
        margin: 0 1% 0 2%;
    }
    

/*Hébergements*/

    #hébergements_populaires {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 5%;
        width: 91%;
        height: 1000px;
    }
    
    #hébergements {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 98%;
        height: 70%;
        margin-bottom: 4%;
        padding: 0;
    }

    #logements {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
    }

    .titre_hébergements {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin: 2% 0 0 3%;
        padding-left: 0.5%;
    }

/* Taille des boîtes des liens hébergements*/

    .lien_hébergements1 {
        width: 28%;
        height: 41%;
    }

    .lien_hébergements2 {
        width: 28%;
        height: 41%;
    }
    
    .lien_hébergements3 {
        width: 28%;
        height: 41%;
        padding-right: 4%;
    }

/*Caractéristiques des cards hébergements*/

    .card_hébergements1 {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .card_hébergements1 {
        margin: 0;
    }

/*Photos des cards hébergements version tablette*/

    .photo {
        object-fit: cover;
        width: 96%;
        height: 60%;
        border: 5px solid white;
        border-radius: 20px 20px 0 0;
    }
    
    .description_hébergements {
        width: 100%;
        margin-left: 5%;
    }

    .nom_hébergements {
        width: 100%;
    }

    .nom_prix {
        width: 100%;
    }

    .plus {
        margin: 0 0 4% 6%;
    }

    .plus p {
        margin: 0;
    }

/*Les plus populaires*/

    #populaires {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 98%;
        height: 90%;
        margin-bottom: 6%;
        padding: 0;
    }

/*Titre des hébergements les plus populaires*/

    .titre_populaires {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 10%;
        margin: 4% 0 3% 3.5%
    }

    .chart {
        padding-right: 3.5%;
    }

/*Cards des hébergements les plus populaires*/

    .top_pluspopulaires {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        padding-bottom: 2%;
    }
    
    .card_populaires {
        display: flex;
        width: 29%;
        height: 144px;
        margin: 0;
        margin: 0 0 5% 3%;
    }

/*Photo des cards populaires*/

    .photo1 {
        height: 144px;
    }

    .photo2 {
        height: 93.5%;
    }

    .photo3 {
        height: 93.5%;
    }

/*Description des cards populaires*/

    .description_populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        margin-left: 10px;
        padding: 0;
    }

    .nom_populaires1 h3{
        width: 85%;
        height: 75%;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin: 4% 0 4% 0;
    }

    .nom_populaires2 h3 {
        width: 80%;
        height: 88%;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        padding: 0;
        margin-bottom: 4%;
    }

    .nom_populaires3 h3 {
        width: 85%;
        height: 85%;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin: 3% 0 4% 0;
    }

/*Boîte du titre de la card + le prix de la nuit*/

    .nom_prixpopulaires1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        font-size: 13px;
        margin: 4% 0 10% 0;
        padding: 0;
    }

    .nom_prixpopulaires2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
        font-size: 13px;
        margin-top: 2%;
    }

    .nom_prixpopulaires3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        font-size: 13px;
        margin-top: 2%;
    }

/*Notes des cards populaires*/

    .note_populaires1 {
        width: 70%;
        height: 10%;
        padding: 17% 0 10% 2%;
    }

    .note_populaires2 {
        width: 70%;
        height: 10%;
        padding: 0 0 5% 2%;
    }
    .note_populaires3 {
        width: 70%;
        height: 10%;
        padding-top: 14%;
    }

/*Activités*/

    .activités {
        width: 94%;
        height: 500px;
        margin: 2% 0 2% 5%;
    }
    
    .activités_ville {
        width: 100%;
    }   

    .lien_activités {
        height: 80%;
        margin-right: 0.75%;
    }

    .lien_activités4 {
        height: 80%;
    }

    .card_activités {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;    
    }

    .photo_activités {
        object-fit: cover;
        width:  100%;
        height: 78%;
    }

    .lieu_activités1 h3 {
        width: 100%;
        height: 20%;
        font-size: 16px;
        margin: 0;
    }

    .lieu_activités2 h3 {
        width: 100%;
        font-size: 16px;
        margin: 0;
    }

    .lieu_activités3 h3 {
        font-size: 16px;
        margin: 0;
    }

    .lieu_activités4 h3 {
        font-size: 16px;
        margin: 0;
    }

/*Footer*/

    footer {
        display: flex;
        justify-content: space-around;
        width: 94%;
        height: 225px;
        margin: 0 4% 0 4%;
    }

    .a_propos {
        width: 25%;
        margin: 0 5% 0 10%
    }

    .nos_hébergements {
        width: 25%;
        margin-right: 2%;
    }

    .assistance {
        margin-right: 12%;
    }
}

@media screen and (max-width: 768px){

    body {
        min-width: 377px;
        max-width: 768px;
    }

/*Header*/

    header {
        display: flex;
        width: 100%;
        height: 80%;
    }

    nav {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        margin-top: 10%
    }

    .menu {
        width: 100%;
        height: 80%;
        margin: 5% 0 5% 0;
    }

    .menu_bouton {
        border-bottom: 2px solid white;
        width: 50%;
        height: 100%;
        padding-bottom: 5%;
    }

    .menu_bouton:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

/* Titre de la page*/

    #titre_page {
        width: 90%;
        margin-bottom: 10%;
    }

    #titre_page h1 {
        font-size: 22px;
    }
/*Barre de recherche pour portable*/

    #recherche {
        justify-content: flex-start;
        margin: 0;
        margin:0 0 4% 8%;
    }

    .marker {
        width: 80%;
        font-size: 18px;
        padding: 0 8% 0 8%;
    }

    .rechercher {
        display: none;
    }

    .loupe {
        display: inline;
    }

    button {
        width: 70%;
        height: 50px;
        padding: 0 8% 0 8%;
    }

/*Barre de recherche responsive portable*/


/* Filtres responsive portable*/

    #filtres {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .titre_filtres {
        font-size: 18px;
    }

    .filtres_bouton {
        flex-wrap: wrap;
    }

    #eco {
        width: 40%;
        font-size: 11px;
    }

    #famille {
        width: 40%;
        font-size: 11px;
    }

    #romantique {
        width: 40%;
        font-size: 11px;
    }

    #animaux {
        width: 50%;
        font-size: 11px;
    }

/*Infobar responsive portable*/

    #infobar {
        width: 97%;
        margin: 3% 0 4% 0;
    }

    #infobar p {

        font-size: 16px;
        margin-left: 2%;
        padding-top: 4%;
    }

    .vector {
        border-radius: 80px;
        padding: 1% 2.75% 1.5% 2.5%;
        margin: 0 1% 2% 4% ;
    }

/*Hébergements et les plus populaires responsive portable*/

    #hébergements_populaires {
        width: 100%;
        height: 80%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin: 0;        
    }

/*Les hébergements les plus populaires responsive portable*/

    #populaires {
        width: 100%;
        border-radius: 0;
        margin-bottom: 5%;
    }

    #top_pluspopulaires {
        height: 40%;
    }

    .card_populaires {
        height: 144px;
    }

/*Hébergements responsive portable*/

    #hébergements {
        width: 100%;
    }

    #populaires {
        width: 100%;
    }

/*Activités responsive portable*/

    .activités {
        width: 100%;
        height: 90%;
        margin-bottom: 5%;
    }

    .activités_ville {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .lien_activités {
        width: 91%;
        height: 190px;
    }

    .lien_activités4 {
        width: 91%;
        height: 190px;
    }

    .card_activités {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .photo_activités {
        height: 70%;
    }

/* Footer responsive portable*/

    footer {
        width: 100%;
        height: 501px;
        flex-wrap: wrap;
    }

    .navigation_footer {
        flex-direction: column;
    }

    .a_propos {
        width: 70%;
        margin-left: 8%;
        padding: 0;
    }

    .a_propos h3 {
        margin-top: 15%;
    }

    .nos_hébergements {
        width: 80%;
        margin-left: 8%;
        padding: 0;
    }

    .assistance {
        width: 80%;
        margin: 0 0 15% 8%;
    }
}

