* {
    font-family: 'Raleway', sans serif;
}

body
{
    max-width: 1400px;
    margin: auto;
}

/*header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
    padding-top: 44px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 67px;
    border-top: 2px solid white;
    padding-top: 48px;
    width: 162px;
}

li {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    color: #0065FC;
}

li:hover{
    border-top:1px solid #0065FC;
}
/*header*/

/*main*/

#titre_page {
    margin-top:63px;
}

h1 {
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

/*recherche*/

#recherche {
    display: flex;
    align-items: center;
    margin:20px 0 35px 0;
}

.marker {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px 0 0 25px;
    height: 30px;
    width: 30px;
    padding: 16px 0 0 25px;
}

.localisation {
    border: 1px solid #F2F2F2;
    height: 45px;
    padding:0 3px 0 5px;
    position: relative;
    bottom: 2px;
}

button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    width: 132px;
    height: 47px;
}

input::placeholder{
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


/*Recherche*/

/*Filtres*/

#filtres {
    display: flex;
    justify-content: space-between;
}

#eco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
}

#famille {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
}

#romantique {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
}

#animaux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
}

#animaux:hover {
    background-color: #deebff;
}

.money {
    color:#0065FC;
    padding-right: 10px;
}

.person {
    color:#0065FC;
    padding-right: 15px; 
}

.heart {
    color:#0065FC;
    padding-right: 10px;
}

.dog {
    color:#0065FC;
    padding-right: 10px;
}

/*Filtres*/

/*Infobar*/

#infobar {
    margin: 39px 0 39px 0;
}

/*Infobar*/

/*Hébergements*/


#hébergements {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 60%;
    margin-right: 40px;
    padding: 42px 40px 107px 40px;
}

#logements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    width: 256px;
    height: 199px;
    box-shadow: 0 4px 8px 0;
    transition:0.3s;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card1 {
    background-color: white;
    width: 256px;
    height: 199px;
    box-shadow: 0 4px 8px 0;
    transition:0.3s;
    border-radius: 20px;
}

.photo {
    object-fit: cover;
    width: 96%;
    height: 60%;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

.titre h3 {
    width: 100%;
    height: 8%;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.prix p {
    font-size: 14px;
    line-height: 10px;
    margin: 9px 0 9px 0;
    padding: 0;
}

.titre_prix {
    display: flex;
    flex-wrap: wrap;
    width: 204px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 8%;
}

.note {
    display: flex;
}

.star {
    font-size: 12px;
    padding-right: 2px;
    color:#0065FC;
}

.star1 {
    font-size: 12px;
    padding-right: 2px;
    color: #F2F2F2;
}


/*Hébergements*/

/*Les plus populaires*/

#populaire {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 100%;
    padding: 41px 40px 34px 37px;
}

.chart {
    color: #0065FC;
}

.cardpopulaire {
    background-color: white;
    display: flex;
    width: 343px;
    height: 154px;
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    border-radius: 20px;
    margin-bottom: 33px; 
}

.photo2 {
    object-fit: cover;
    width: 137px;
    height: 144px;
    border: 5px solid white; 
    border-radius: 20px 0 0 20px;
    margin-right: 10px;
}

.article {
    display: flex;
    width: 100%;
}

/*Les plus populaires*/

/*Hébergements et Les plus populaires*/

#hébergements_populaires {
    display: flex;
}

/*Hébergements et Les plus populaires*/

